#wrapper div.firstblock,#wrapper  div.secondblock {
    float:right
}

#page-content-wrapper2 {
    width:50%;
    float:right;
}

#page-content-wrapper2 .table-wrap {
    margin-right:20px;
}

td, th {
    text-align: center;
}

thead tr td, tbody tr td{
    margin: 2px;
    text-align: center;
}

thead tr{
    background-color: rgb(42, 63, 84);
    color: white;
}

#head, #save {
    text-align: center;   
    align-items: center;
}
